<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051478440224-s95mfosvifu52kt2pihti4me1q8svvhc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051478440224-s95mfosvifu52kt2pihti4me1q8svvhc</string>
	<key>API_KEY</key>
	<string>AIzaSyBwc6gCxeK9JGG2QjWVyNSEMAoXEQHF7f0</string>
	<key>GCM_SENDER_ID</key>
	<string>1051478440224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cocoapods.demo.A1IOSLib-Example</string>
	<key>PROJECT_ID</key>
	<string>a1-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>a1-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051478440224:ios:bb0b6d627dd41de15fbf45</string>
</dict>
</plist>